
{{ form_start(featureForm) }}

<p>Fonctionnalité  : {{ form_widget(featureForm.nom, {'attr': {'class': 'form-control required', 'placeholder': 'Nom'}}) }}</p>
<p>Nombre de possibilité : {{ form_widget(featureForm.nbSolution, {'attr': {'class': 'form-control required', 'placeholder': 'Combien'}}) }}</p>

<ul>
{#    {% for methode in featureForm.methodes %}#}
{#        Méthode N°{{ loop.index }}<br/>#}
{#        <li>{{ form_row(methode) }}</li>#}
{#    {% endfor %}#}
</ul>

{{ form_end(featureForm) }}